//scss變數的格式設定前置符號$ 
$w800:800px;
$h52:52px;
$fbcolor:#81dd18;
$wcolor:rgb(14, 1, 1);
.header{

    width: $w800;
    height: $h52;
    background-color:$fbcolor;
    display: flex;
    margin-bottom: 1rem;
    a{
    color:aqua;
    text-decoration: none;
    /* &符號用來連結父層選擇器,常用在虛類別如:hover :focus */
    &:hover{
    color: $wcolor;
    text-decoration: underline;
}

    }
    
}


.content{
    width: 800px;
    background-color: coral;
    color: #fff;
}
.content a{
    color: white;
    text-decoration: none;
}
.content a:hover{
    color:#fbf97a;
    text-decoration: line-through;

}
.footer{
    width: 800px;
    height: 152px;
    background-color: #057b99;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}
.footer a{
    color: #aef55d;
    text-decoration: none;
}
.footer a:hover{
    color: white;
    text-decoration: underline;
    font-weight: bolder;
}